.name{
     font-size: 4vw;
}

.nav-item {
	padding-left: .5em;
	padding-right: .5em;
}

.profile {
        width: 30%;
        margin: 2%;
        border-radius: 5%;
}


.resume {
        background-color: black;
        color: white;
}